.face {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
  color: #fff;
  @media (max-width: 1200px) {
    max-width: 940px;
  }
  @media (max-width: 970px) {
    max-width: 720px;
  }
  @media (max-width: 770px) {
    max-width: 540px;
  }
  @media (max-width: 570px) {
    max-width: 340px;
  }
  @media (max-width: 360px) {
    width: 100%;
    padding: 20px;
  }
  &__wrapper {
    background: url(../../Assets/Images/FaceImage/balloons.jpeg) no-repeat;
    width: 100%;
    background-size: contain;
    background-position: center;
  }
  &__blot {
    background: url(../../Assets/Images/FaceImage/blot.png) no-repeat;
    width: 100%;
    min-height: 675px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media (max-width: 1200px) {
      min-height: 610px;
    }
    @media (max-width: 970px) {
      min-height: 490px;
    }
    @media (max-width: 770px) {
      min-height: 370px;
    }
    @media (max-width: 570px) {
      min-height: 370px;
      background: none;
    }
  }
  &__suptext {
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 300;
    margin-bottom: 15px;
    @media (max-width: 970px) {
      font-size: 17px;
    }
    @media (max-width: 770px) {
      font-size: 12px;
      letter-spacing: 0.5px;
    }
  }
  &__title {
    font-size: 96px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: -9px;
    margin-bottom: 30px;
    @media (max-width: 1200px) {
      font-size: 70px;
      letter-spacing: -2.8px;
    }
    @media (max-width: 970px) {
      font-size: 50px;
      letter-spacing: -2.8px;
    }
    @media (max-width: 770px) {
      font-size: 38px;
      letter-spacing: -3.5px;
    }
  }
  &__img {
    position: absolute;
    width: 220px;
    top: 30px;
    left: 160px;

    @media (max-width: 1200px) {
      top: 0px;
      left: 120px;
    }
    @media (max-width: 970px) {
      width: 190px;
      top: -18px;
      left: 90px;
    }
    @media (max-width: 770px) {
      width: 162px;
      top: -43px;
      left: 60px;
    }
    @media (max-width: 570px) {
      width: 130px;
      top: -5px;
      left: -45px;
    }
  }
  .button {
    background: none;
    border: 2px solid #fff;
  }
}
