.infoBlock {
  width: calc((100% - 30px) / 4);
  padding: 30px;
  text-align: center;
  margin-bottom: 50px;
  @media (max-width: 1200px) {
    max-width: 940px;
    padding: 17px;
  }
  @media (max-width: 970px) {
    width: calc(100% / 2);
    padding: 10px;
  }
  @media (max-width: 770px) {
    width: 540px;
    padding: 0;
  }
  @media (max-width: 570px) {
    max-width: 340px;
  }

  &__img {
    width: 64px;
    margin-bottom: 30px;
    @media (max-width: 1200px) {
      width: 53px;
    }
    @media (max-width: 970px) {
      width: 40px;
    }
    @media (max-width: 770px) {
      width: 38px;
    }
    @media (max-width: 570px) {
      width: 32px;
    }
  }
  &__title {
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 1.3;
  }
  &__text {
    font-size: 14px;
    margin-bottom: 30px;
    line-height: 2;
    padding: 15px;
    @media (max-width: 970px) {
      padding: 5px;
    }
  }
}
