.button {
  border: none;
  outline: none;
  margin: 0 auto;
  background-color: #ff5126;
  padding: 13px 30px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;

  @media (max-width: 970px) {
    padding: 10px 20px;
  }
}
