.info {
  max-width: 1170px;
  margin: 30px auto;
  @media (max-width: 1200px) {
    max-width: 940px;
  }
  @media (max-width: 970px) {
    max-width: 750px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    @media (max-width: 970px) {
      padding: 20px;
      flex-wrap: wrap;
    }
    @media (max-width: 770px) {
      width: 540px;
      margin: 0 auto;
      padding: 5px;
    }
    @media (max-width: 570px) {
      max-width: 340px;
    }
    @media (max-width: 360px) {
      padding: 10px;
    }
  }
}
