.statisticsBlock {
  width: calc((100% - 69px) / 2);
  margin: 0 auto;
  border: 1px solid #d9d9d9;
  margin-bottom: 30px;
  padding-top: 50px;
  @media (max-width: 970px) {
    max-width: 720px;
  }
  @media (max-width: 770px) {
    width: 520px;
  }
  &__title {
    font-size: 14px;
    font-family: "Roboto";
  }

  &__number {
    font-size: 6.25rem;
    font-weight: 400;
    color: #ff5126;
  }
}
