.popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  &__wrapper {
    position: absolute;
    max-width: 450px;
    width: 80vw;
    min-height: 200px;
    background: #fff;
    padding: 30px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 6px;
    user-select: none;
  }
  &__close {
    border: none;
    background: none;
    position: absolute;
    top: 0px;
    right: 7px;
    &::before {
      content: "\2715";
      font-size: 24px;
      font-weight: 900;
      cursor: pointer;
    }
    &:hover {
      color: #ff5126;
    }
  }
}
