.footerBlock {
  width: calc((100% - 60px) / 3);
  margin-bottom: 47px;
  @media (max-width: 770px) {
    width: 100%;
  }
  &__title {
    margin-bottom: 25px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
  }
  &__text {
    line-height: 2;
  }
}
