.subheading {
  text-align: center;
  @media (max-width: 970px) {
    max-width: 720px;
    font-size: 60px;
    margin: 0 auto;
  }
  @media (max-width: 770px) {
    max-width: 540px;
  }
  @media (max-width: 570px) {
    max-width: 340px;
  }
  &__title {
    font-size: 72px;
    font-family: "Roboto";
    font-weight: 400;
    margin-bottom: 10px;
    color: #ff5126;
    line-height: 1.3;
    @media (max-width: 970px) {
      font-size: 60px;
    }
    @media (max-width: 770px) {
      margin: 0 auto 15px;
    }
    @media (max-width: 570px) {
      font-size: 36px;
    }
  }
  &__text {
    font-size: 16px;
    margin: 30px 0 50px;
    line-height: 2;
  }
}
