.header {
  padding: 35px 0 60px;
  &__wrapper {
    max-width: 1140px;
    margin: 0 auto;
    @media (max-width: 1200px) {
      max-width: 940px;
    }
    @media (max-width: 970px) {
      max-width: 720px;
    }
    @media (max-width: 770px) {
      max-width: 540px;
    }
    @media (max-width: 570px) {
      max-width: 340px;
    }
    @media (max-width: 360px) {
      width: 100%;
      padding: 20px;
    }
  }
  &__title {
    font-size: 20px;
    font-weight: 300;
    font-family: "Open Sans";
    text-transform: uppercase;
  }
}
