.statistics {
  background: url(../../Assets/Images/StatisticImage/forest.jpeg) no-repeat;
  background-size: cover;
  background-position: 0 -565px;

  @media (max-width: 1600px) {
    background-size: auto;
    background-position: 0px -50px;
  }

  @media (max-width: 770px) {
    background-position: 0px 30px;
  }
  @media (max-width: 570px) {
    background-position: 0px 180px;
  }
  @media (max-width: 360px) {
    background-position: 0px 105px;
  }

  &__wrapper {
    max-width: 933px;
    margin: 0 auto;
    font-weight: 400;
    line-height: 2;
    text-align: center;
    padding: 30px;
    @media (max-width: 360px) {
      padding: 10px;
    }
  }
  &__wrapperInner {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    padding: 30px;
    max-width: 1064px;
    @media (max-width: 1200px) {
      max-width: 720px;
      margin: 0 auto;
    }
    @media (max-width: 980px) {
      max-width: 670px;
    }
    @media (max-width: 770px) {
      width: 520px;
    }
    @media (max-width: 580px) {
      width: 340px;
    }
    @media (max-width: 360px) {
      padding: 10px;
    }
  }
  .button {
    color: #ffffff;
    background-color: #ff5126;
    padding: 10px 30px;
    height: 48px;
    font-size: 20px;
    margin-bottom: 15px;
    border: none;
  }
}
