.gallery {
  width: 100%;
  @media (max-width: 1200px) {
    max-width: 940px;
    margin: 0 auto;
  }
  @media (max-width: 980px) {
    max-width: 740px;
  }
  @media (max-width: 770px) {
    max-width: 540px;
  }
  @media (max-width: 570px) {
    max-width: 340px;
  }

  &__wrapper {
    max-width: 1160px;
    margin: 0 auto;
  }
  &__container {
    width: 100%;
    display: flex;
    max-width: 1160px;
    margin-bottom: 140px;
    @media (max-width: 980px) {
      flex-wrap: wrap;
    }
  }
  &__block {
    width: calc((100% - 60px) / 3);
    margin: 0 auto;
    @media (max-width: 1200px) {
      width: calc((100% - 40px) / 3);
    }
    @media (max-width: 980px) {
      width: calc(100% / 2);
      padding: 0 10px;
    }
    @media (max-width: 770px) {
      width: 100%;
      padding: 0;
    }
  }
  &__block_right {
    @media (max-width: 980px) {
      width: 100%;
    }
  }
  &__img {
    width: 100%;
    height: 540px;
    margin-bottom: 20px;
  }
  #centr {
    height: calc((100% - 65px) / 3);
  }

  &__form {
    text-align: center;
    margin-bottom: 100px;
  }
  #name,
  #email {
    padding: 14px 12px;
    border-radius: 3px;
    border-color: #b3b3b3;
    font-size: medium;
    margin-right: 15px;
    width: 190px;
    border: 1px solid #b3b3b3;
    color: #b3b3b3;
  }
  .button {
    color: #ffffff;
    background-color: #ff5126;
    margin: 0 auto;
    height: 48px;
    letter-spacing: 2px;
  }
}
