.input {
  padding: 12px 5px;
  margin-right: 10px;
  font-size: 16px;
  border: none;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  @media (max-width: 1200px) {
    padding: 12px 0;
    text-align: center;
  }
  @media (max-width: 970px) {
    margin-right: 0;
    max-width: 360px;
    width: 100%;
    margin-bottom: 10px;
  }
}
