.footer {
  width: 100%;
  background-color: #1a1a1a;
  padding: 70px 0 40px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 50px;

  &__wrapper {
    max-width: 1140px;
    margin: 0 auto;

    @media (max-width: 1200px) {
      max-width: 940px;
      margin: 0 auto;
    }
    @media (max-width: 990px) {
      max-width: 720px;
    }
    @media (max-width: 770px) {
      max-width: 540px;
    }
    @media (max-width: 570px) {
      max-width: 340px;
      padding: 10px 0;
    }
  }
  &__wrapperInner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__line {
    max-width: 1140px;
    margin: 0 auto 30px;
    opacity: 0.3;
  }
  &__title {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    list-style: 0.5 px;
    font-weight: 300px;
  }
}
