.directionBlock {
  width: calc((100% - 69px) / 2);
  margin: 0 auto;
  border: 1px solid #d9d9d9;
  margin-bottom: 30px;
  @media (max-width: 1200px) {
    width: calc((100% - 50px) / 2);
  }
  @media (max-width: 980px) {
    max-width: 720px;
  }
  @media (max-width: 770px) {
    width: 100%;
  }

  &__img {
    height: 280px;
    width: 100%;
    margin-bottom: 30px;
    @media (max-width: 1200px) {
      height: 261px;
    }
  }
  &__title {
    font-family: "Roboto";
    color: #454545;
    padding-left: 20px;
    margin-bottom: 20px;
    font-size: 1.25rem;
    font-weight: 300;
  }
  &__text {
    color: #454545;
    padding: 5px 20px;
    margin-bottom: 45px;
    line-height: 2;
    font-style: italic;
    @media (max-width: 1200px) {
      padding: 5px 15px;
    }
  }
}
