.directions {
  background: url(../../Assets/Images/DirectionsImage/bay.jpeg) no-repeat;
  background-size: contain;
  background-position: 0 -155px;
  @media (max-width: 1200px) {
    background-size: auto;
    background-position: -220px -240px;
  }
  @media (max-width: 970px) {
    background-position: -390px -250px;
  }
  @media (max-width: 770px) {
    background-position: -390px -190px;
  }
  @media (max-width: 570px) {
    background-position: -430px -240px;
  }
  &__wrapper {
    padding: 70px 20px 70px;
    @media (max-width: 1200px) {
      max-width: 940px;
      margin: 0 auto;
    }
    @media (max-width: 970px) {
      max-width: 720px;
    }
    @media (max-width: 770px) {
      max-width: 540px;
    }
    @media (max-width: 570px) {
      max-width: 340px;
    }
  }

  &__wrapperInner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background: white;
    padding: 30px 15px;
    max-width: 1064px;
    @media (max-width: 970px) {
      padding: 25px 10px;
    }
    @media (max-width: 770px) {
      padding: 25px 25px;
    }
    @media (max-width: 570px) {
      padding: 15px 15px;
    }
  }
  .button {
    margin-top: 20px;
  }
  &__line {
    background: #d9d9d9;
    height: 1px;
    margin: 0 40px;
  }
}
